/* header */
body{font-family:"Roboto",sans-serif !important;background:#ffffff;}
.top-header{display: block;width: 100%;background-color: #ededed;color: #fff;padding: 5px 0;border-bottom: 1px #bcbcbc solid;}
.top-header span.ql-dh{display: inline-block;padding-top: 2px;}
.top-header span.ql-dh >img{margin-right: 10px;}
ul.menu-top >li >a > span{color: red; font-size: 14px;font-weight: bold;margin-right: 10px;}
ul.menu-top >li{float: left;display: inline-block;color: #000;padding: 0 5px;font-size: 13px;opacity:1;}
.header{display: block;width: 100%;overflow: hidden;}
.left.menu-top{display: inline-block;margin-bottom: 0;position: relative;bottom: -7px;padding: 0;}
.header img{display: block;margin: auto;}
.btn-search img{height: 30px;max-width: 40px;}
.list-online span{font-size: 14px;font-weight: 500;}
.list-online span.value-online{color:#254394;font-weight: bold;}
.input-search{float: left;width: 90%;height: 30px;border-radius: 0;background-color: #ededed;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;font-size: 14px;padding-left: 10px;border-bottom-right-radius: 0;border-top-right-radius: 0;}
.btn-search{float: left;display: inline-block;width: 10%;max-width: 40px;padding: 0;height: 30px;border: none;}
.header .logo{margin-top: 20px;float: right;}
/* main */
.main{display: inline-block;width: 100%;margin-top: 20px;}
.dm-sp{display: inline-block;width: 100%;background: url('../images/danh-muc-san-pham.jpg') no-repeat;height: 35px;padding-left: 60px;background-size: 100% 100%;padding-top: 5px;}
.dm-sp>span {color: #FFF;text-transform: uppercase;}
.list-dm ul {list-style-type: none;padding: 0;margin: 0;}
.list-dm h3,.list-dm h4{display: inline-block;width: 100%;line-height: 0;margin: 0;border-bottom: 1px #254394 solid;}
.list-dm h3 a{color: #000;font-size: 14px;font-weight: 400;text-transform: uppercase;width: 100%;display: inline-block;background-color: #b4e6fd;padding: 20px 0 15px 0px;padding-left: 10px;}
.list-dm h4 a{display: inline-block;width: 100%;background-color: #8bd6fd;color: #000000;font-size: 14px;padding: 14px;font-weight: 400;}
.list-dm a:hover{text-decoration: none;color: #fe5f01;}
.slider{display: block;width: 100%;position: relative;margin-bottom: 20px;}
.header-list-sp{margin:0 0 15px 0;}
.list-sp,.header-list-sp{position: relative;width: 100%;display: inline-block;}
.content-sp{display: inline-block;margin-bottom: 30px;width: 100%;}
.header-name h2{font-size: 21px;}
.header-name a{color: #FFF;
    font-size: 13px;text-transform: uppercase;font-family: 'Roboto';
    font-weight: 400;
    position: relative;
    top: 0px;
    left: 20px;}
.header-name:before,.header-hotline:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #254394;
    border-bottom: 0 solid transparent;
    position: absolute;
    top: 0;
}
.header-name{width: auto;
    float: left;
    padding: 0 40px 0 0;
    position: relative;
    background: #fe5f01;min-height: 30px;}
.xem-them{position: absolute;right: 0;bottom: 0;}
.xem-them a{color: #000;font-size: 13px;}
.item-sp{margin-bottom: 30px;}
.product-name h3 a{color: #000;font-size: 15px;text-align: center;font-weight: bold;}
.product-name {display: inline-block;text-align: center;width: 100%;height: 100px;background-color: #d9f1fd;position: relative;padding-bottom: 30px;}
.product-name .xem-them a{color: #fff;background: #254394;padding: 7px 25px;font-weight: 500;}
.product-name .xem-them{position: absolute;left: 10px; right: 10px;bottom: 4px;}
.header-hotline span{color: #FFF;padding-left: 5px;text-transform: uppercase;margin-top: 3px;position: relative;display: inline-block;}
.header-hotline{width: 100%;
    float: left;
    padding: 0 40px 0 0;
    position: relative;
    background: #fe5f01;height: 30px;}
.header-hotline > img{display: inline-block;margin-left: 15px;height: 28px;margin-bottom: 5px;}
.list-hotline{border: 1px #fe5f01 solid;padding: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.user-support{padding: 10px;border-bottom: 1px #fe5f01 solid;}
.hotline{display: inline-block;width: 100%;margin-top: 20px;}
.user-support:last-child{border: none;}
.user-name{color: #254394;font-size: 14px;font-weight: bold;}
.user-support a.phone-hotline{color: red;font-size: 14px;font-weight: bold;}
.user-support a.mail-support{color: #000;font-size: 14px;font-weight: 400;}
.user-support img.icon-user-name{display: inline-block;margin-bottom: 8px;margin-right: 5px;}
.user-support img.icon-user-email{display: inline-block;margin-bottom: 2px;margin-right: 5px;}
.user-support img.icon-user-phone,.user-support img.icon-user-skype{display: inline-block;margin-bottom: 5px;margin-right: 5px;}
.ul-news > h3 > a {font-size: 14px;line-height: 1.3;display: inline-block;}
.ul-news{border-bottom: 1px #fe5f01 solid;padding-left: 15px;}
.ul-news li{position: relative;padding-left: 15px;color:#fe5f01;font-size: 25px; }
.ul-news:last-child{border: none;}
.ul-news li > h3,.ul-news li > h3 > a {color: #000;font-size: 13px;display: inline-block;line-height: 1.3;}
.ul-news>li > h3:before {content: '';height: 5px;width: 5px;border-radius: 6px;color: #000;background-color: #fe5f01;position: absolute;left: 0;margin-top: 5px;}
.ul-news > img{margin: auto;display: block;margin-bottom: 10px;}
.like-fb{display: inline-block;padding: 5px;}
.partner-img{display: block;margin: auto}
.page-facebook{border-radius: 5px;display: inline-block;width: 100%;border: 1px #ccc solid;margin-top: 20px;margin-bottom: 30px;}
.page-facebook > .header-page-facebook{background-color: #254394;padding: 10px 10px;display: inline-block;width: 100%;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.page-facebook > .header-page-facebook > a{color: #FFF;display: block;float: right;margin-top: 20px;}
/* ----------------- */
.item-sp .product-img {
	position: relative;overflow: hidden;
}
.item-sp .product-img::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background:rgba(251, 251, 251, 0.22);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.item-sp .product-img:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

/* -----------article-------------- */
.item-new{display: inline-block;width: 100%; border: 1px #dedede solid; border-radius: 10px;padding: 20px;margin-bottom: 30px;}
.item-new .name-news{font-size: 15px;font-family: Roboto;text-transform: uppercase;font-weight: 600;color: #000;}
.item-new:hover .name-news,.item-new:hover a{color: #254394;text-decoration:none;}
.item-new p {font-size: 14px;font-weight: 500; margin-bottom: 0;}
a.news-detail{background-color: #254394;padding: 5px 15px;color: #fff;position: absolute;bottom: 0px;right: 15px;}
.item-new:hover a.news-detail{background-color: #fe5f01;padding: 5px 15px;color: #fff;text-decoration: none;}
.news-lq{
	display: inline-block;
    width: 100%;
    border-bottom: 2px #dedede solid;
    margin-bottom: 20px;
}
.news-lq >span{color: #254394;
    font-size: 16px;
    font-weight: 600;}
.list-news-lq a{color: #000;font-size: 14px;}
.list-news-lq a:hover{color:#fe5f01;text-decoration: none;}
.pagination  li{border: 1px #ccc solid;padding: 3px 10px; margin-right:2px;font-size: 14px;}
.pagination  li a{color: #000;font-size: 14px;}
.pagination  li:hover a{text-decoration: none;color: #fff;}
.pagination  li:hover{border: 1px #254394 solid;background-color: #254394;color: #fff}
.pagination  li.active{border: 1px #254394 solid;background-color: #254394;color: #fff}
/* -------------- */
footer{background: #d1cfd0;padding-top: 20px; font-size: 14px;}
footer h2{font-size: 15px;color: #18187e;font-weight: bold;letter-spacing: -1px;}
footer .kt-footer{color: #18187e;font-weight: 600;font-size: 14px;}
footer img,footer .info-footer{display: block; margin-top: 45px;padding-right: 0;}
footer span {font-size: 13px;}
footer .copyright{border-top: 1px #000 solid;display: inline-block;width: 100%;}
footer .copyright .float-left >span{padding: 10px 0;font-weight: 600;margin-top: 10px;
    display: inline-block;}
footer .copyright .float-right >span{padding: 10px 0;font-weight: 600;margin-top: 10px;
    display: inline-block;}
footer .copyright .float-right > img{display: inline-block;margin: 0 5px;}
.address-map{    display: inline-block;
    width: 100%;
    background-color: #fff;
    margin-top: 0;
    font-size: 10px;
    padding: 3px;
    height: 20px;
    position: relative;
    top: -5px;}
ul {list-style: none;}
.product-name > h3 > a:hover{text-decoration: none;color: #fe5f01;}
.product-name > .xem-them:hover a{background-color: #fe5f01;text-decoration: none;}